/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* FONTS */

.mont {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.nerk {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

/* GENERALS */

body {
    font-family: Helvetica, sans-serif;
}

header {
    color: #ff9614;
    text-align: center;
    text-transform: uppercase;
}

main {
    background-color: #f6f5f3;
    background-size: 100vw;
}

footer {
    color: #ffffff;
    position: static;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-basis: 100%;
    gap: 0.5rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 3rem;
    color: #4e3969;
}

h3 {
    font-size: 3rem;
    font-weight: normal;
}

h4 {
    font-size: 3rem;
}

ul {
    display: flex;
    list-style-type: none;
}

ul > li {
    margin: 0 0.5rem
}

li > a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    gap: 1rem;
    line-height: normal;
}

#social > span {

    background-color: #dc2020;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 1rem;
    box-shadow: 0.5rem 0rem 1rem;
    text-align: center;
}

div.banner {
    display: none;

}


/* UTILS */

.container {
    max-width: 90%;
    margin: 0 auto;
}

.img-container {
    object-fit: contain;

}

.col-flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}

.start-col {
    align-items: flex-start;
}

.center-col {
    align-items: center;
}

.row-flex {
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center
}

.rel-fig {
    position: relative;
}

.al-self-cen {
    align-self: center;
}

.abs-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.55;
    top: 0;
    left: 0;
}

.floating-img {
    width: 25rem;
    height: auto;
    margin: 1rem;
}

figure.rel-fig:hover div.abs-overlay {
    display: inline;
}

/* ERRORE NEL POSIZIONAMENTO DEL CUORE */
span.heart {
    position: absolute;
    color: #c60707;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
}

/* MARGINI E PADDING */

.mrg-b1 {
    margin-bottom: 1rem;
}

.mrg-b3 {
    margin-bottom: 3rem;
}

.pg-v1 {
    padding: 1rem 0;
}

.pg-v2 {
    padding: 2rem 0;
}

.pg-b3 {
    padding-bottom: 3rem;
}

/* BACKGROUNDS e BORDI */

.brd-org {
    border: 1px solid #ff9614;
    width: 15%;
}

.bg-purple {
    background-color: #7c69a4;
}

.bg-white {
    background-color: white;
    background-size: auto;
}

#main-card {
    display: flex;
    flex-direction: column;

}

#card-bottom {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}



/* MEDIA QUERY */

@media screen and (min-width: 576px) {
    div.banner {
        display: flex;
    }

    body {
        background-color: #6cf5dc;
    }

    .floating-img {
    float: left;
    width: 25rem;
    height: auto;
    margin: 0 1rem 1rem 0;
    }
        
}

@media screen and (min-width: 768px) {
    div.banner {
        display: block;
    }

    body {
        background-color: #f8c0c9;
    }

    div.list-items {
        display: flex;
        flex-flow: row wrap;
    }
    div.list-items > * {
        flex-basis: calc(100% / 3);
    }

    #social > span {
    width: 8rem;
    height: 2rem;
    border-radius: 5rem;
    line-height: 1rem;
    vertical-align: middle;
    }
}

@media screen and (min-width: 992px) {
    div.banner {
        display: block;
    }

    body {
        background-color:#4cd489
    }

    .container {
        max-width: 80%;
    }

    #main-card {
        display: flex;
        flex-flow: row wrap;
    }   

    #main-card > * {
    flex-basis: 50%;
    }

    div.list-items > * {
        flex-basis: 100%;
    }
}