* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

header {
    color: #ff9614;
    text-align: center;
}

/* FONTS */

.mont {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.nerk-i {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}


/* UTILS */

.container {
    max-width: 90%;
    margin: 0 auto;
}

.col-flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.row-flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}